
<div class="header">
  <app-header></app-header>
</div>
<div class="container-fluid main">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-2">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-10 mb-3 page-content">
      <div class="row">
        <div class="col-sm-12">
          <app-cards></app-cards>
        </div>
        <div class="col-sm-12">
          <app-profile-content></app-profile-content>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
