<div class="wrapper dynamic-tabs-container">
  <div class="scroller scroller-left"><i class="fa fa-chevron-left"></i></div>
  <div class="scroller scroller-right"><i class="fa fa-chevron-right"></i></div>
  <nav class="nav nav-tabs list dynamic-tabs" id="myTab" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="public" aria-expanded="true"><i class="fas fa-user mr-1"></i> <span class="tab-txt">user dashboard</span></a>
      <a class="nav-item nav-link" href="#tab2" role="tab" data-toggle="tab"><i class="fas fa-file-contract mr-1"></i> <span class="tab-txt">Projects</span></a>
      <a class="nav-item nav-link" href="#tab3" role="tab" data-toggle="tab"><i class="fas fa-cog mr-1"></i> <span class="tab-txt">responsibilities</span></a>
      <a class="nav-item nav-link" href="#tab4" role="tab" data-toggle="tab"><i class="fas fa-briefcase mr-1"></i> <span class="tab-txt">roles</span></a>
      <a class="nav-item nav-link" href="#tab5" role="tab" data-toggle="tab"><i class="fab fa-hubspot mr-1"></i> <span class="tab-txt">relations</span></a>
      <a class="nav-item nav-link" href="#tab6" role="tab" data-toggle="tab"><i class="fas fa-th-large mr-1"></i><span class="tab-txt">SUBORDINATES</span></a>
  </nav>
</div>
