<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
      <div class="row">
          <div class="col-md-12">
              <div class="w-100">
                <app-nav-tabs></app-nav-tabs>
                <div class="tab-content" id="myTabContent">
                  <div role="tabpanel" class="tab-pane fade active show mt-2" id="tab1" aria-labelledby="public-tab" aria-expanded="true">
                    <app-user-dashboard></app-user-dashboard>
                  </div>
                  <div class="tab-pane fade mt-2" id="tab2" role="tabpanel" aria-labelledby="group-dropdown2-tab" aria-expanded="false">
                    <app-projects></app-projects>
                  </div>
                  <div class="tab-pane fade mt-2" id="tab3" role="tabpanel" aria-labelledby="group-dropdown2-tab" aria-expanded="false">
                    <app-responsibilities></app-responsibilities>
                  </div>
                  <div class="tab-pane fade mt-2" id="tab4" role="tabpanel" aria-labelledby="group-dropdown2-tab" aria-expanded="false">
                    <app-roles></app-roles>
                  </div>
                  <div class="tab-pane fade mt-2" id="tab5" role="tabpanel" aria-labelledby="group-dropdown2-tab" aria-expanded="false">
                    <app-relations></app-relations>
                  </div>
                  <div class="tab-pane fade mt-2" id="tab6" role="tabpanel" aria-labelledby="group-dropdown2-tab" aria-expanded="false">
                    <app-subordinates></app-subordinates>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
