/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
/*layout*/
@font-face {
  font-family: 'Cairo-Regular';
  src: url("../src/assets/fonts/Cairo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Cairo-Regular';
  src: url("../src/assets/fonts/Cairo-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../src/assets/fonts/proxima_ssv/Proxima Nova Bold.otf") format("opentype");
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../src/assets/fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype");
}

body{
  font-family: 'ProximaNova-Regular', 'Cairo-Regular';
  overflow-x: hidden;
  background-color: #E8EDF2;
}
p{
  margin-bottom: 0px !important;
}
